/* CommentTable */
.commentTable {
  width: 100%;
  table-layout: fixed;

}

.commentTable th,
.commentTable td {
  width: auto;
  text-align: left;
  white-space: nowrap;
}

.commentTable th {
  cursor: pointer; 
}

/* CommentItem */
.break-word-text {
  word-wrap: break-word;
  white-space: pre-wrap;
}